page-fee {
  .select-searchable-has-placeholder .select-searchable-value-item {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
  }
  .select-searchable-icon {
    margin-top: 3px;
  }
  .select-searchable-md .select-searchable-icon-inner {
    color: #fff;
  }
}
