<ion-header>
  <ion-navbar color="customCol">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transport Fee</ion-title>
    <!-- <ion-buttons end>
      <select-searchable style="max-width: 100%;" item-content placeholder="Select Student"
        [(ngModel)]="selectedStudent" [items]="liststudent" itemValueField="name" itemTextField="name"
        [canSearch]="true" (onChange)="onChangedSelect(selectedStudent)">
      </select-searchable>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of pendingList">

    <ion-card-header style="font-size: 1.8em; padding: 5px;">
      <ion-row>
        <ion-col col-6>{{item.year}}</ion-col>
        <ion-col col-6 style="text-align: right;">
          <ion-badge style="font-size: 1.1em;" *ngIf="item.Status === 'Paid'" color="secondary">{{item.Status}}
          </ion-badge>
          <ion-badge style="font-size: 1.1em;" *ngIf="item.Status !== 'Paid'" color="danger">{{item.Status}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="padding: 5px">
      <ion-row>
        <ion-col col-6>
          <p style="font-size: 1.3em;" *ngIf="item.Status === 'Paid'">{{item.paid_Date | date:'short'}}</p>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <p style="font-size: 1.3em;" *ngIf="item.Status === 'Paid'">{{item.amount}}</p>
          
          <button ion-button *ngIf="item.Status !== 'Paid'" (click)="paynow(item)">Pay Now</button>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>