<ion-header>
  <ion-navbar color="customCol">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Results</ion-title>
    <ion-buttons end>
      <select-searchable style="max-width: 100%;" item-content placeholder="Select Student"
        [(ngModel)]="selectedStudent" [items]="liststudent" itemValueField="name" itemTextField="name"
        [canSearch]="true" (onChange)="onChangedSelect(selectedStudent)">
      </select-searchable>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="resultList.length > 0">
    <ion-card *ngFor="let item of resultList" (click)="gotoNext(item)">
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>