<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dataofstudent of profilesStudent">
    <div align="center" style="margin-top: 20%;">
      <img class="profile-image" src="assets/imgs/dummy_user.jpg">
      <h6 style="font-size: 2.4rem;">{{dataofstudent.fname}}</h6>
    </div>

    <ion-row style="padding:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-1 style="text-align: center">
        <ion-icon color="gray" name="school"></ion-icon>
      </ion-col>
      <ion-col col-4 style="font-size: 16px;color: gray;">School</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.schoolName}}</ion-col>
    </ion-row>

    <ion-row style="padding:2%;">
      <ion-col col-1 style="text-align: center">
        <ion-icon name="pin" color="gray"></ion-icon>
      </ion-col>
      <ion-col col-4 style="font-size: 16px;color: gray;">School Add</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.saddress}}</ion-col>
    </ion-row>
    <h6 style="padding:4%;">SCHOOL LOCATION</h6>
    <div id="{{dataofstudent.mapid}}" style="height: 200px;width: 100%;"></div>
    <ion-row style="padding:2%; border-bottom: 1px solid lightgrey;">
      <ion-col col-1 style="text-align: center">
        <ion-icon name="pin" color="gray"></ion-icon>
      </ion-col>
      <ion-col col-4 style="font-size: 16px;color: gray;">Class</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.className}}</ion-col>
    </ion-row>
    <ion-row style="padding:2%; border-bottom: 1px solid lightgrey;">
      <ion-col col-1 style="text-align: center">
        <ion-icon name="people" color="gray"></ion-icon>
      </ion-col>
      <ion-col col-4 style="font-size: 16px;color: gray;">Gender</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.gender}}</ion-col>
    </ion-row>
    <ion-row style="padding:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-1 style="text-align: center">
        <ion-icon name="water" color="gray"></ion-icon>
      </ion-col>
      <ion-col col-4 style="font-size: 16px;color: gray;">Blood Group</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.bg}}</ion-col>
    </ion-row>
    <ion-row style="padding:2%;">
      <ion-col col-1>
        <ion-icon name="home" color="gray"></ion-icon>
      </ion-col>
      <ion-col col-4 style="font-size: 16px;color: gray;">Home Add</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">{{dataofstudent.haddress}}</ion-col>
    </ion-row>

    <h6 style="padding:4%; ">PICKUP LOCATION</h6>
    <ion-row style="padding:2%;">
      <div id="{{dataofstudent.studmapId}}" style="height: 200px;width: 100%;"></div>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>Guardian</ion-card-header>
    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        Name
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{profilesParentname}}</ion-col>
    </ion-row>
    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        Relation
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;" *ngIf="profilesParenterelation != undefined">
        {{profilesParenterelation}}</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;" *ngIf="profilesParenterelation == undefined">
        N/A</ion-col>
    </ion-row>
    <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        Phone
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{profilesParentphone}}</ion-col>
    </ion-row>
    <ion-row style="margin:2%;">
      <ion-col col-4 style="font-size: 16px;color: gray;">
        Email
      </ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-7 style="text-align: left;font-size: 18px;color:black;">{{profilesParentemail}}</ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Emergency Contacts
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
        <ion-col col-5 style="font-size: 16px;color: gray;">
          Transport Admin
        </ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">+91 563789999</ion-col>
      </ion-row>
      <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
        <ion-col col-5 style="font-size: 16px;color: gray;">
          School Admin
        </ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">+91 1212121212</ion-col>
      </ion-row>
      <ion-row style="margin:2%;border-bottom: 1px solid lightgrey;">
        <ion-col col-5 style="font-size: 16px;color: gray;">
          Police Station
        </ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">+91 2323232323</ion-col>
      </ion-row>
      <ion-row style="margin:2%;">
        <ion-col col-5 style="font-size: 16px;color: gray;">
          Hospital
        </ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">+91 4545454545</ion-col>
      </ion-row>
      <ion-row style="margin:2%;">
        <ion-col col-5 style="font-size: 16px;color: gray;">
          Ambulance
        </ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">+91 7878787878</ion-col>
      </ion-row>
      <ion-row style="margin:2%;">
        <ion-col col-5 style="font-size: 16px;color: gray;">
          Fire Briged
        </ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-6 style="text-align: left;font-size: 18px;color:black;">+91 9090909676</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>