page-assignment {
  .datetime-md .datetime-placeholder,
  .datetime-ios .datetime-placeholder {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
  }
  .datetime-text {
    font-weight: bold;
    font-size: 1.2em;
  }
}
