<ion-header>

  <ion-navbar color="customCol">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <ion-datetime placeholder="Select Month" displayFormat="MMMM" pickerFormat="MMMM" [(ngModel)]="selectedMonth"
        (ionChange)="getData()">
      </ion-datetime>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="listItems.length > 0">
    <ion-card *ngFor="let item of listItems" (click)="details(item)">

      <ion-card-header style="font-size: 1.8em; padding: 5px;">
        <ion-row>
          <ion-col col-6>{{item.title}}</ion-col>
          <ion-col col-6 style="text-align: right;">
            <ion-badge style="font-size: 1.1em;" *ngIf="item.status !== 'pending'" color="secondary">{{item.status}}
            </ion-badge>
            <ion-badge style="font-size: 1.1em;" *ngIf="item.status === 'pending'" color="danger">{{item.status}}
            </ion-badge>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content style="padding: 5px">
        <ion-row>
          <ion-col col-12>
            <p style="font-size: 1.3em;">{{item.timestamp | date:'short'}}</p>
          </ion-col>
          <!-- <ion-col col-6 style="text-align: right;">
            <p style="font-size: 1.3em;" *ngIf="item.status === 'Paid'">{{item.amount}}</p>

            <button ion-button *ngIf="item.status !== 'Paid'" (click)="paynow()">Pay Now</button>
          </ion-col> -->
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>