<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Bus Tracking   
    </ion-title>
    <ion-buttons end>
      <span style="font-size: small;" slot="end" style="color: white;">
        {{last_ping_on}}
     </span> 
     </ion-buttons> 
  </ion-navbar>
  
</ion-header>
<ion-content>
  <ion-item *ngIf="!titleText">
    <ion-label>{{ SelectVehicle }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="temp(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <div id="map_canvas" style="height: 99%; width: 100%;">
    <ion-fab top right>
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button style="margin: 0 2px;" ion-fab mini (click)="onClickMap('HYBRID')" color="gpsc">
          S
        </button>
        <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab> 
    <ion-fab left style="margin-top:85%">
      <button ion-fab color="gpsc" mini (click)="refreshMe()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<!-- <ion-footer>
  
</ion-footer> -->
<!-- <ion-footer>
  <ion-toolbar color="customCol">
    <ion-row>
      <ion-col col-33>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!vehicle_speed">Speed 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px;; color:#fff;" *ngIf="vehicle_speed">Speed {{vehicle_speed}} km/h</p>
      </ion-col>
      <ion-col col-66>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!todays_odo">Today Distance 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="todays_odo">Today Distance {{todays_odo | number : '1.0-2'}} km</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
