// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "source";
  // font-weight: 50;
  font-style: normal;
  src: url("../assets/fonts/source/SourceSansPro-Regular.ttf") format("truetype");
}
// @font-face {
//     font-family: 'Source Sans Pro';
//     font-style: normal;
//      font-weight: 400;
//      src: local('Source Sans Pro Regular'),
//      local('SourceSansPro-Regular'),
//      url('../assets/fonts/source/source-sans-pro.ttf')
//      format('woff2');
//      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

.footSty {
  background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
  .toolbar-background {
    background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
  }
  .toolbar-md,
  .toolbar-ios {
    padding: 0px;
    min-height: 45px;
  }
}

#outerNew {
    background-image: linear-gradient(to right top, #ef4138, #e74e46, #df5952, #d5645e, #cb6d69);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  // color: white;
}

.headProf {
  // background: url('../assets/imgs/1.jpg');
  background-image: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
  text-align: center;
  padding: 10px;
  color: #f0f0f0;
  width: 100%;
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}
