<ion-header>

  <ion-navbar color="customCol">
    <ion-title>{{parameters.title}}</ion-title>
    <ion-buttons end>
      <ion-datetime placeholder="Select Date" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"
        [(ngModel)]="selectedDate" (ionChange)="getData()">
      </ion-datetime>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list inset>
    <!-- <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item.title }}
    </button> -->
    <ion-item *ngFor="let item of items">
      <ion-icon name="create" item-start></ion-icon>
      {{ item.title }}
      <!-- <ion-icon name="rose" item-end></ion-icon> -->
      <button ion-button small color="light" item-end (click)="itemSelected(item)">
        Finish
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="customCol" style="text-align: center;
  font-size: 1.5em;
  color: white;
  font-weight: bold;">Mark Completed</ion-toolbar>
</ion-footer>